<div class="modalView">
    <form ng-submit="newTaskSubmit(data)">
        <div class="note-item normal">
            <textarea ng-model="data.content" placeholder="write your shit here!"></textarea>

            <div class="select">
                <md-select ng-model="data.list" placeholder="choose a list to save to">
                    <md-option ng-repeat="opt in Lists" ng-value="'opt'">{{opt}}</md-option>
                </md-select>
            </div>


            <div class="date">
                <span class="fa fa-calendar"></span>
                <input ng-model="data.date" placeholder="set date" type="date" />
            </div>

            <md-radio-group placeholder="priority" ng-model="data.priority">
                <small>set priority</small>
                <md-radio-button value="normal">normal</md-radio-button>
                <md-radio-button value="high">high</md-radio-button>
            </md-radio-group>

            <section layout="row" layout-align="center center">
                <md-button class="md-raised md-primary">add</md-button>
                <md-button ng-click="cancelDialog()" class="md-raised md-default">cancel</md-button>
            </section>
        </div>

        <input type="reset" class="resetForm" />
    </form>
</div>